<h2 class="text-center">Liste des Pokémons</h2>
<div class="container  text-center">
  <div class="row">

    <!-- Composant Champs de recherche -->
    <app-search-pokemon></app-search-pokemon>

    <!-- affichage de toutes les cartes  *ngFor-->
    <div id="col-12 cards">
      <figure *ngFor="let pokemon of pokemonList" (click)="goToPokemon(pokemon)"
        class="card {{ pokemon.types[0].toString() | cardTypeColorTs }}">
        <div class="card__image-container">
          <img [src]="pokemon.picture" [alt]="pokemon.name" class="card__image">
        </div>
        <figcaption class="card__caption">
          <h1 class="card__name">{{pokemon.name}}</h1>
          <table class="card__stats">
            <tbody>
              <tr>
                <th>HP</th>
                <td>{{pokemon.hp}}</td>
              </tr>
              <tr>
                <th>Attaque</th>
                <td>{{pokemon.cp}}</td>
              </tr>
            </tbody>
          </table>

          <span *ngFor="let type of pokemon.types" class="{{ type.toString() | pokemonTypeColor }}">
            {{ type }}
          </span>
        </figcaption>
      </figure>
    </div>

    
  </div>
</div>



<!-- bouton ajout -->
<a class="btn btn-danger btn-lg z-depth-3"
  style="position: fixed; bottom: 25px; right: 25px;" [routerLink]="['pokemon/add']">+</a>