<div class="col-md-6 offset-md-3 text-left p-4 ">
  <div id="search-component">
    <input #searchBox type="search" id="search-box" (input)="search(searchBox.value)"
      class="form-control rounded text-center" placeholder="Rechercher un Pokémon" aria-label="Search"
      aria-describedby="search-addon" (ngModel)="searchTerms" />



    <ul class="search-result">
      <li *ngFor="let pokemon of pokemons$ | async | filter:searchBox.value" class="">
        <a (click)="goToDetail(pokemon)">
          {{ pokemon.name }}
        </a>
      </li>
    </ul>
  </div>



</div>