<div class="container">
  <div class="row">
    <div class="col-md-9 offset-md-3">

      <div class="card my-5">

        <form class="card-body cardbody-color p-lg-5">
          <div class="text-center">
            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/035.png"
              class="img-fluid profile-image-pic my-3" width="200px" alt="profile">
          </div>
          <div class="text-center">
            <h1>Hey !<br /> cette page n'existe pas ...</h1>


          </div>
          <div class="text-center p-4firebase  m-4">
            <button routerLink="/pokemons" class="btn btn-danger">
              Retour à la liste
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>