




    <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">

            <h2 class="text-center text-dark mt-5">Page de connexion</h2>
            <div class="card my-5">
    
              <form class="card-body cardbody-color p-lg-5" #loginForm="ngForm">
    
                <div class="text-center">
                  <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/100.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                    width="200px" alt="profile">
                </div>
    
                <div class="mb-3">
                    <input type="text" id="name" [(ngModel)]="name" name="name" placeholder="Nom" class="form-control rounded-left" required>
                </div>
                <div class="mb-3">
                    <input type="password" id="password" [(ngModel)]="password" placeholder="Mot de passe" name="password" class="form-control rounded-left" required>
                </div>

                <div class="text-center">
                    <a (click)="login()" class="btn btn-color px-5 mb-5 w-100"  *ngIf="!auth.isLoggedIn">Se connecter</a>
                    <a (click)="logout()" class="btn btn-primary px-5 mb-5 w-100" *ngIf="auth.isLoggedIn">Se déconnecter</a>
                </div>
                <div id="emailHelp" class="form-text text-center mb-5 text-dark">
                    {{message}}
                </div>
              </form>
            </div>
    
          </div>
        </div>
      </div>