<div class='container'>
  <div *ngIf="pokemon" class="row">
    <h2 class="header center">{{ pokemon.name }}</h2>
    <div id="cards">


      <figure class="card {{ pokemon.apiTypes[0].name | cardTypeColorTs }}">
        <div class="card__image-container">
          <img [src]="pokemon.image" [alt]="pokemon.name" class="card__image">
        </div>

        <figcaption class="card__caption">
          <h1 class="card__name">{{pokemon.name}}</h1>


          <table class="card__stats">
            <tbody>
              <tr>
                <td>Points de vie</td>
                <td><strong>{{ pokemon.stats.HP }}</strong></td>
              </tr>
              <tr>
                <td>Dégâts</td>
                <td><strong>{{ pokemon.stats.attack }}</strong></td>
              </tr>
              <tr>
                <td>Types</td>
                <td>

                  <span *ngFor="let type of pokemon.apiTypes" class="{{ type.name | pokemonTypeColor }}">{{
                    type.name
                    }}</span>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="card-action black">
            <a (click)="goToPokemonList()">Retour</a>
            <a (click)="deletePokemon(pokemon)">Supprimer</a>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
<h4 *ngIf='!pokemon' class="center">Aucun pokémon à afficher !</h4>