<app-header></app-header>
<div class="container p-4">
  <div *ngIf="pokemon" class="row">
    <div class="col-md-6 offset-md-3">


      <figure class="figure card {{ pokemon.apiTypes[0].name.toString() | cardTypeColorTs }}">
        <div class="card__image-container">
          <img [src]="pokemon.image" [alt]="pokemon.name" class="card__image">
        </div>

        <figcaption class="card__caption">
          <h1 class="card__name p-3">{{pokemon.name}}</h1>


          <table class="table">
            <tbody>
              <tr>
                <td>Points de vie</td>
                <td class="text-sm-start"><strong>{{ pokemon.stats.HP }}</strong></td>
              </tr>
              <tr>
                <td>Points d'attaque</td>
                <td><strong>{{ pokemon.stats.attack }}</strong></td>
              </tr>
              <tr>
                <td>Points de défense</td>
                <td><strong>{{ pokemon.stats.defense }}</strong></td>
              </tr>
              <tr>
                <td>Vitesse</td>
                <td><strong>{{ pokemon.stats.speed }}</strong></td>
              </tr>
              <tr>
                <td>Types</td>
                <td>
                  <span *ngFor="let type of pokemon.apiTypes" class="{{ type.name.toString() | pokemonTypeColor }}">{{
                    type.name
                    }}</span>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="col-3 card-action black">
            <a (click)="goToPokemonList()" class="btn btn-info ms-3">Retour</a>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
<h4 *ngIf='!pokemon' class="center">
  <app-loader></app-loader>
</h4>