<div class='container'>
  <div *ngIf="pokemon" class="row">
    <h2 class="header center">{{ pokemon.name }}</h2>
    <div id="col-md-4 offset-md-3">


      <figure class="figure card {{ pokemon.types[0].toString() | cardTypeColorTs }}">
        <div class="card__image-container">
          <img [src]="pokemon.picture" [alt]="pokemon.name" class="card__image">
        </div>

        <figcaption class="card__caption">
          <h1 class="card__name">{{pokemon.name}}</h1>


          <table class="card__stats">
            <tbody>
              <tr>
                <td>Points de vie</td>
                <td><strong>{{ pokemon.hp }}</strong></td>
              </tr>
              <tr>
                <td>Dégâts</td>
                <td><strong>{{ pokemon.cp }}</strong></td>
              </tr>
              <tr>
                <td>Types</td>
                <td>
                  <span *ngFor="let type of pokemon.types" class="{{ type.toString() | pokemonTypeColor }}">{{ type
                    }}</span>
                </td>
              </tr>
              <tr>
                <td>Date de création</td>
                <td><em>{{ pokemon.created | date:"dd/MM/yyyy" }}</em></td>
              </tr>
            </tbody>
          </table>

          <div class="col-3 card-action black">
            <a (click)="goToPokemonList()" class="btn btn-primary ms-3">Retour</a>
            <a (click)="goToEditPokemon(pokemon)" class="btn btn-primary ms-3">Editer</a>
            <a (click)="deletePokemon(pokemon)" class="btn btn-primary ms-3">Supprimer</a>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
<h4 *ngIf='!pokemon' class="center">
  <app-loader></app-loader>
</h4>